<!- index.html ->
<html>
    <head>
        <title>To Do App</title>
        <style>
            #error { display: none; }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 450px;
            }
            li {
                clear: both;
            }
            li button {
                -webkit-appearance: none;
                border: none;
                outline: none;
                color: red;
                float: right;
                cursor: pointer;
                font-size: 20px;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <ul id="lists">
                {% for list in lists %}
                    <li>
                        <a href="/lists/{{ list.id }}">{{ list.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="todos-wrapper">
            <h4>{{ active_list.name }}</h4>
            <form id="form" method="post" action="/todos/create">
                <input type="text" id="description" name="description" />
                <input type="submit" value="Create To Do" />
            </form>

            <div id="error" class="hidden">Uh oh, something went wrong!</div>

            <ul id="todos">
                <!-- bind the id of checkbox & delete button to the id of the item
                     of the item for updating the DB -->
                {% for todo in todos %}
                    <li><input class="check-completed" type="checkbox"
                        data-id="{{todo.id}}"
                            {% if todo.completed %}
                                checked
                            {% endif %} />
                        {{ todo.description }}
                        <button class="delete-button" data-id="{{todo.id}}">&cross;</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <script type="text/javascript">
            // loop over checkbox items and listen for on-change event
            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function(e) {
                    console.log('event ', e);
                    // get data from the DOM to send to (server) controller
                    // will be passed to the route in app.py
                    const newCompleted = e.target.checked;
                    const todo_id = e.target.dataset['id']
                    fetch('/todos/' + todo_id + 'set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className='hidden';
                    })
                    .catch(function() {
                        // remove hidden attribute if error
                        document.getElementById('error').className='';
                    });
                }
            }

            // loop over delete buttons and listen for an on-change event
            const deletebuttons = document.querySelectorAll('.delete-button');
            for (let i = 0; i < deletebuttons.length; i++) {
                const deletebutton = deletebuttons[i];
                deletebutton.onclick = function(e) {
                    console.log('event ', e);
                    // get data from the DOM to send to (server) controller
                    // will be passed to the route in app.py
                    const deleteThisItem = e.target.click;
                    const delete_id = e.target.dataset['id']
                    console.log("delete_id =", delete_id)

                    fetch('/todos/' + delete_id + 'delete-item', {
                        method: 'DELETE'
                    })
                    // remove item from the list
                    .then(function(){
                        const item = e.target.parentElement;
                        item.remove();
                    });
                }
            }

            // input of new to do item
            const descInput = document.getElementById('description');
            document.getElementById('form').onsubmit=function(e) {
                // prevent full page refresh, submit
                e.preventDefault();
                const desc = descInput.value;
                console.log(desc);
                descInput.value = '';
                // promised based library
                fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': desc,
                        'list_id': active_list
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                // parse the json response
                .then(response => response.json())
                // take parsed response and append
                .then(jsonResponse => {
                    // need the id to add the completed checkbox and delete button
                    console.log('response', jsonResponse);

                    const li = document.createElement('li');

                    const ckbox = document.createElement('input');
                    ckbox.className = 'check-completed';
                    ckbox.type = 'checkbox';
                    ckbox.setAttribute('data-id', jsonResponse.id);
                    li.appendChild(ckbox);

                    const text = document.createTextNode(' ' + jsonResponse.description);
                    li.appendChild(text);

                    const delbutton = document.createElement('button');
                    delbutton.className = "delete-button";
                    delbutton.setAttribute('data-id', jsonResponse.id)
                    delbutton.innerHTML = "&cross;";
                    li.appendChild(delbutton)

                    document.getElementById('todos').appendChild(li);
                    // add hidden attribute on good response
                    document.getElementById('error').className='hidden';
                })
                .catch(function() {
                    // remove hidden attribute if error
                    document.getElementById('error').className='';
                });
            }
        </script>
    </body>
<html>
