[Desktop Entry]
Encoding=UTF-8
Name=Link to FSND/projects/02_trivia_api/starter at master · udacity/FSND
Type=Link
URL=https://github.com/udacity/FSND/tree/master/projects/02_trivia_api/starter
Icon=text-html
